<a href="https://colab.research.google.com/github/NovaMaja/python/blob/master/Pandas_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Intro to Pandas
This notebook gives a introduction to Pandas. It is designed for students of the course Python for Data Science at [Nova Institute](https://www.novainstitute.ca). The material is designed for beginners, but it asumes the reader has some knowledge of Python programming and the NumPy and MatPlotLib libraries. Pandas is a great library for working with datasets, and it is one of the essential libraries for data scientists.


*This notebook and example materials is developed by  [Nova Institute](https://novainstitute.ca) and is released under the [MIT license](https://github.com/NovaMaja/python/blob/master/LICENSE). *

First we will import Pandas with the conventional alias **pd**:

In [0]:
import pandas as pd

##Serie and DataFrame
[__Serie__](https://pandas.pydata.org/pandas-docs/stable/reference/series.html) and [__DataFrame__](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html) are two fundamental components of Pandas. A __DataFrame__ is a way to organize your data, and consists of one or more __Series__. You can think of a **DataFrame** as a table, and a **Serie** as one column of that table. 

###Create DataFrame from scratch
We can create a Pandas **DataFrame** from a regular Python Dictionary. A python Dictionary is a collection of key - value pairs. You can look up a value using the key as the index. Let us first create a small dictionary:

In [0]:
project_work_hours = {
    'prototype' : [150, 75, 25],
    'design' : [0, 75, 25],
    'administration' : [0, 0, 75],
}

This dictionary shows how many hours each member of the project team spent on prototyping, design, and administration of a project. The first employee spent all her time on the prototype. The second both worked on design and prototype, while the third was mostly focused on administration.

We can get a list of all the hours spent on the prototype phase like this:

In [0]:
project_work_hours['prototype']

It is easier to work with this data if it is in a Pandas *DataFrame*. To convert it we simply do:

In [0]:
hours = pd.DataFrame(project_work_hours)
hours

Notice that the keys in the dictionary became the header names, and the values became the columns.

###Create custom index
The default index of a Pandas **DataFrame** is a range of numbers starting at 0. We can change this to whatever we want. In our case it would make sense to use the name of the team memebers.

In [0]:
hours = pd.DataFrame(project_work_hours, index = ['Jill', 'Jack', 'Yusuf'])
hours

###Plots
one neat trick in Pandas is that you can make matplotlib plots out of the box using [pandas.DataFrame.plot()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.plot.html)

In [0]:
hours.plot( kind= 'bar');

###Pandas and Numpy
Pandas is built on Numpy, and gives us access to the same numerical operations. So if we for example want to know the total hours spent on each phase of the project we can find it using the numpy function *sum()*

In [0]:
hours.sum()

##Load CSV files
Most of the time we use pandas to work with data from some external source, often a csv file. We can load csv files directly into a Pandas *DataFrame* with the function *read_csv()*. *read_csv()* can read a file from your local file system, or even grab it directly from a url. We will grab a table of popular baby names in New York that we found using https://catalog.data.gov/

In [0]:
baby_names = pd.read_csv('https://data.cityofnewyork.us/api/views/25th-nujf/rows.csv?accessType=DOWNLOAD')

to get an idea of how the data looks like we ca take a peak at the first few rows:

In [0]:
baby_names.head()

... or the last few rows:

In [0]:
baby_names.tail()

... or even a number of random rows:

In [0]:
baby_names.sample(10)

We can get some useful information about the dataset with *info()*

In [0]:
baby_names.info()

And we can get some descriptive statistics with *describe()*

In [0]:
baby_names.describe()

###Changing the column names
Some of the column names are a little bit hard to work with because they contain quotes and spaces. We can change it, but let us first print out the column names as they are:

In [0]:
baby_names.columns

Now let us change them to make them all lower case, and with no spaces or strange characters:

In [0]:
baby_names.columns = ['birth_year', 'gender', 'ethnicity', 'first_name', 'count', 'rank' ]

If we now take a look at a couple of rows of the DataFrame we see the column names have changed:

In [0]:
baby_names.head(2)

we can also change just a few of the column names using the dictionary format:

In [0]:
baby_names.rename(columns={
    'first_name' : 'name',
    'birth_year' : 'year'
}, inplace=True)

`inplace=True` makes sure the changes are applied to the baby_names DataFrame itself in stead of returning a copy. If we do not set `inplace=True` we would have to write: 

```
baby_names = baby_names.rename(columns={
    'first_name' : 'name',
    'birth_year' : 'year'
})
```

now let us look at the **DataFrame** again

In [0]:
baby_names.head()

##Cleaning data
When working with real world data we often have incomplete or poorly formatted datasets. Pandas gives us a lot of tools to clean the data so it is ready for analysis. In this particular dataset there are a lot of duplicate entries. We can remove them using *drop_duplicates()* Before we do that, let us check how many entries we have in total:

In [0]:
baby_names.shape

Now we will drop the duplicates. we can use inplace=True like before to make sure we are working on the base DataFrame and not a new copy.

In [0]:
baby_names.drop_duplicates(inplace = True)
baby_names.shape

We can see from the shape command that we dropped around 7000 duplicates.

###Missing values
some times datasets are incomplete, with some values not entered. This is a problem in numerical analysis, so we need to eaither remove or change those values. We cab check if our data set contains null values using *isnull()*

In [0]:
baby_names.isnull()

*isnull()* creates a new **DataFrame** where each value is either TRUE if the original value was missing, or FALSE otherwise. This might not look like very useful information, but if we use it in combination with other functions, like *sum()* it becomes quite powerful:

In [0]:
baby_names.isnull().sum()

In our case it seems the dataset does not contain any null values.

If we did have null values in our data we would in most cases need to either remove them or impute them (change them to a number value). Which strategy we should choose depends on the data we are working with, and what information we are looking for in that data.

Let's explore this with a new DataFrame. We will make a DataFrame like the one we had before for the project hours, but in this one we will replace 0 with None.

In [0]:
work_hours = {
    'prototype' : [150, 75, 25],
    'design' : [None, 75, 25],
    'administration' : [None, None, 75],
}

hours_missing_values = pd.DataFrame(work_hours, 
                                    index = ['Jill', 'Jack', 'Yusuf'])
hours_missing_values

We now see NaN values in our DataFrame. We can confirm this using isnull() like before.

In [0]:
hours_missing_values.isnull().sum()

###Dropping NaN values
One strategy could be to remove all rows with missing values. If you have a big dataset where it is ok if you miss a few rows this might be a good strategy. 

We can do this with [dropna()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dropna.html/)

In [0]:
hours_missing_values.dropna()

In our case, if we remove all rows with missing values, we loose all information about the hours that Jack and Jill worked on the project.

If all rows in your dataset are important you can drop the columns containing missing values instead, by specifying the axis for [dropna()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.dropna.html/)

In [0]:
hours_missing_values.dropna(axis=1)

Now we have hours for every team member, but we lost a lot of information about hours spent on design and administration. 

###Imputing
We happen to know that the values are missing only for the cases where there were no hours worked. So the ideal way to fix this dataset would be to change all NaN values to 0. we can use [fillna()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.fillna.html) to do that

In [0]:
hours_missing_values.fillna(0)

##inplace
By default most of the DataFrame functions return a copy of the DataFrame with the result of the function, and it leaves the original untouched. If you want to change the original directly you can specify  *inplace = True*

In [0]:
hours_missing_values.fillna(0, inplace=True)
hours_missing_values

This concludes our brief intro to Pandas. As with all libraries we encourage you to play with it and explore the [documentation](https://pandas.pydata.org/pandas-docs/stable/).